 <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Royalestate</h2>
                        <p>Find your dream home on a dream price.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://www.facebook.com/CaHristov/"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/christianhristov1/"><span class="icon-instagram"></span></a></li>
                            <li class="ftco-animate"><a href="https://twitter.com/Kristia71254559"><span class="icon-twitter"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Buy</h2>
                        <ul class="list-unstyled">
                            <li><a class="py-2 d-block" asp-controller="Properties" asp-action="All">Homes For Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Sell</h2>
                        <ul class="list-unstyled">
                            <li><a class="py-2 d-block" asp-controller="Properties" asp-action="Add">Sell Your Home</a></li>
                            <li><a href="#" class="py-2 d-block">Guides &amp; Rules</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Sadiiyski, Plovdiv, Bulgaria</span></li>
                                <li><a href="tel://0876065511"><span class="icon icon-phone"></span><span class="text">+359 8760 65511</span></a></li>
                                <li><a href="mailto:kristiyan.a.hristov@gmail.com"><span class="icon icon-envelope"></span><span class="text">kristiyan.a.hristov@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>