@using RealEstateWebApp.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
           
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light"><span class="icon-user"></span> Logout</button>
            </form>
            
    }
    else
    {
        <li class="nav-item cta"><a class="nav-link ml-lg-2" asp-area="Identity" asp-page="/Account/Login"><span class="icon-user"></span> Sign-In</a></li>
	    <li class="nav-item cta cta-colored"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><span class="icon-pencil"></span> Sign-Up</a></li>
    }
</ul>
