@using RealEstateWebApp.Data.Models
@model IEnumerable<RealEstateWebApp.Data.Models.Task>

@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <partial name="_StyleSheetsPartial" />

</head>

<body>
    <partial name="_TopNavPartial" />

    @if (User.IsInRole("Manager"))
    {
        <partial name="_ManagerTasksPartial" />
    }
    else if (User.IsInRole("Employee"))
    {
        <partial name="_EmployeeTasksPartial" />
    }

    @section Scripts{
    <script src="~/js/customScripts/CustomScript.js"></script>
    }
</body>
</html>

