@using RealEstateWebApp.ViewModels.Users

@model IEnumerable<AllUsersViewModel>

<div class="card">
    <div class="card-header">
        <h3>Registered users: @Model.Count()</h3>
    </div>
    <div class="card-body">
        @if (Model.Any())
        {
            int i = 1;

            foreach (var user in Model)
            {
                <h5 class="card-title">@i. ID: @user.Id | UserName: @user.UserName</h5>
                <div class="card-footer">
                </div>
                i += 1;
            }
            <a asp-action="AllRoles" asp-controller="Roles" class="btn btn-primary" style="width:auto">Manage Roles</a>
        }
        else
        {
            <h5 class="card-title">There are no registered users</h5>
        }
    </div>

</div>