<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Royal Estate - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
     <partial name="_StyleSheetsPartial" />

  </head>
  <body>

   <partial name="_TopNavPartial" />

    <!-- END nav -->

    <div class="hero-wrap" style="background-image: url(https://www.keyrealestateresources.com/wp-content/uploads/2020/05/Feature-104-how-to-become-a-luxury-real-estate-agent-1110x385.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-3 bread">Contact Us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h3">Contact Information</h2>
          </div>
          <div class="w-100"></div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span class="icon icon-map-marker"></span><span> Address:</span> Plovdiv, Sadiiyski</p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span class="icon icon-phone"></span><span> Phone:</span> <a href="tel://0876065511">+ 3598 7606 5511</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span class="icon icon-envelope"></span><span> Gmail: </span> <a href="mailto:kristiyan.a.hristov@gmail.com">kristiyan.a.hristov</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
	            <p><span>GitHub: </span> <a href="https://github.com/KristiyanH">KristiyanH</a></p>
	          </div>
          </div>
        </div>
      </div>
    </section>

    <partial name="_FooterPartial" />
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


   @section Scripts{
    <partial name="_TemplateScriptsPartial" />
    }
    
  </body>
</html>